<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
<body>
<div th:fragment="content">
    <h2 class="mb-4">Maintenance</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${maintenances}">
            <td th:text="${m.id}"></td>
            <td th:text="${m.title}"></td>
            <td th:text="${#temporals.format(m.date, 'dd/MM/yyyy HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
