<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: content">
<body>
<div>
    <h4>Maintenance #101</h4>
    <p><strong>Material:</strong> Projector Epson</p>
    <p><strong>Status:</strong> IN_PROGRESS</p>
    <p><strong>Description:</strong> Lens replacement and cleaning.</p>
    <p><strong>Start Date:</strong> 2025-11-05</p>
    <p><strong>Technician:</strong> Alex Johnson</p>

    <button class="btn btn-success mt-3">Mark as Completed</button>
</div>
</body>
</html>
